<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/view.css'%}">
</head>
<body>
<!-------------------------------------------------------------- 상단바 고정 -->
    <div id="headi">

        <div class="bt_wrap">
            <a style="float:left;" href="/main/board/list/{{ board_type.id }}" class="on">&lt;목록으로 돌아가기</a>
            {% if user.is_superuser or board.auther == user.username %}
            <a style="float:right;" href='/main/board/{{board.id}}/delete/{{ board_type.id }}' onclick="return confirm('정말 삭제하시겠습니까?');" class="del">게시글삭제</a>
            {%endif%}   
        </div>
    
        

    </div>
    


    <div id="header_serve"> </div>

<!-----------------class="board_view"---------------------------------------------->
    <div class="board_wrap">
        <div class="board_title">
            <strong>{{ board_type.name }}</strong>
            <p>{{ board_type.description }}</p>

        </div>


 <!-----------------class="board_view"---------------------------------------------->       
            <div id="board_view">

                <div class="title">
                    {{board.title}}
                </div>

                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>{{board.id}}</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>{{board.auther}}</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>{{board.date}}</dd>
                    </dl>
                </div>

                <div class="cont" style="word-break:break-all">
                    {{board.contents}}
                </div>
            </div>

<!--------------------------하단바 댓글 작성------------------------------------->

       

           
                   {% if user.is_authenticated %}
                <form action="/main/board/{{ board.id }}/comment" method="POST">
                   {%csrf_token%}
                    <div id="comment">
                    <div class="anonym">
                        <span style="padding-left: 5px;">익명</span>
                        <input class="input2" type="checkbox" name="anonymous" values="'y">
                    </div>

                        <input class="input1" type="text" name="comment" placeholder="댓글을 입력하세요">
                  
                    
                    
                        <input class="input3" type="submit" value="댓글작성">
                
                </div>
                </form>
                {% endif %}
            </div>

<!-----------------댓글부분------------------------------------------------------------>
           

    <div class="comment_view">

                <div class="com_up">
                    <strong>전체 댓글</strong>
                    <a style="float:right;" href='#' onclick="return confirm('자신의 댓글을 삭제하시겠습니까?');">내 댓글 삭제</a>
                </div>



                <div>
                
                {%for c in comment %}
                    {%if c.isAnonymous == True%}
                    <div class="coma">
                        <dl>
                            <dt><strong>익명</strong></dt>
                            <dd style="word-break:break-all" >{{contents}}</dd>
                        </dl>
                    {%else%}
                        <dl>
                            <dt><strong>{{c.auther}}</strong></dt>
                            <dd style="word-break:break-all" >{{c.contents}}</dd>
                        </dl>
                    </div>
                    {%endif%}
             {% endfor %}


          

                </div>
    </div>


<!----------------------------------------------------------------------------->

            








    
</div>



<div id="header_serve"> </div>
</body>
</html>